_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
Gemfile.lock
vendor

/.Rproj.user
/.Rproj.user
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/paths
wzb-ipi.Rproj
.Rproj.user/shared/notebooks/paths
