/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  padding-top: 56px; // Add some padding for the nav-bar.
}

body.sticky-bottom-footer {
  padding-bottom: 0; // Remove padding below footer.
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
 * Projects
 *****************************************************************************/


.project-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Keeps content spaced evenly */
    min-height: 300px; /* Set a minimum height */
    flex: 1 0 30%; /* Makes the card flexible; adjust 30% to control how many per row */
    margin: 10px; /* Optional: adds some space between the cards */
    box-sizing: border-box; /* Ensures padding and border are included in the height-calculation */
}

.project-card .card-body {
    flex-grow: 1;
} 

.project-card {
    min-height: 300px; 
}

.project-card img {
    width: 100%;
    height: auto;       /* Keeps the aspect ratio */
    max-height: 250px;  /* Prevents images from becoming too tall */
    object-fit: cover;
}
