/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  padding-top: 56px; // Add some padding for the nav-bar.
}

body.sticky-bottom-footer {
  padding-bottom: 0; // Remove padding below footer.
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
 * Projects
 *****************************************************************************/

.project-container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap */
    justify-content: flex-start; /* Aligns items at the start with no extra space */
    margin: -10px; /* Adjust margin to remove extra space caused by child margin */
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Keeps content spaced evenly */
    min-height: 300px; /* Set a minimum height */
    flex: 1 0 calc(33.333% - 20px); /* Set width to fill 3 columns and account for margins */
    margin: 10px; /* Adds space between the cards */
    box-sizing: border-box; /* Ensures padding and border are included in the height calculation */
}

.project-card .card-body {
    flex-grow: 1; /* Allows the body to expand to fill available space */
}

.project-card img {
    width: 100%;
    height: auto; /* Maintains the aspect ratio */
    max-height: 250px; /* Prevents images from becoming too tall */
    object-fit: cover; /* Ensures images cover the area appropriately */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .project-card {
        flex: 1 0 calc(50% - 20px); /* Stacks 2 cards per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .project-card {  
        flex: 1 0 calc(100% - 20px); /* Stacks all cards in a single column on very small screens */
    }
}